@import "mixins";
@import "./FragmentEditor";
@import "./SourceEditor";
@import "./SourceEditorToolbar";
@import "./FragmentPreview";
@import "./FragmentPreview";

#wrapper .portlet-layout.row,
#wrapper .portlet {
	margin-bottom: 0;
}

.fragment-submit-buttons {
	margin: 5px;
	position: absolute;
	right: 0;
	top: 0;

	@include sm {
		margin: 10px;
	}
}