$toolbarHeight: 2em;

.source-editor-toolbar {
	border-bottom: solid thin #DDD;
	height: $toolbarHeight;
	line-height: $toolbarHeight;
	padding: 0;
	right: 0;
	top: 0;
	z-index: 1;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;

	&--hidden {
		border-bottom: none;
		position: absolute;
	}

	&__items {
		display: flex;
		height: $toolbarHeight;
	}

	&__item-wrapper {
		border-right: solid 1px #DDD;
		cursor: pointer;
		height: $toolbarHeight;
		overflow: hidden;
		position: relative;
	}

	&__syntax {
		color: #AAA;
		height: $toolbarHeight;
		padding: 0.25 1em;
		text-transform: uppercase;
	}
}

.source-editor-toolbar-item {
	background-color: transparent;
	border: none;
	color: black;
	cursor: pointer;
	font-size: 0.8em;
	margin: 0;
	padding: 0 1em;
}