@import "mixins";

.page-list-block {
	background-color: white;
	border: 1px solid lightgray;
	overflow-x: visible;
	overflow-y: auto;
	width: 85vw;
	max-width: 40ch;
	display: inline-block;
	height: 100%;

	& + .page-list-block {
		border-left: none;
	}

	.card {
		margin-bottom: 2px;

		.card-icon {
			cursor: pointer;
		}

		.page-selected {
			width: 30px;
		}
	}

	.card-row {
		cursor: default;
		display: block;
		text-decoration: none;
	}

	.card-col-content {
		height: 44px;
	}

	.card.selected {
		 background-color: #EEF5FE;

		span.active {
			color: #65B6F0;
		}
	}
}

.page-list-block.empty {
	opacity: 0.4;
}