@import "mixins";

.page-list {
	display: block;
	height: 60vh;
	overflow-x: auto;
	white-space: nowrap;
}

.page-list-breadcrumb {
	margin-top: 20px;
}

.breadcrumb > li {
	cursor: pointer;

	&.active {
		cursor: default;
	}
}