@import "mixins";

.portlet-fragment-web {
	.fragment-thumbnail {
		.button-row {
			background-color: #FFF;
			border-top: 1px solid #DEE2E6 !important;
			bottom: 0;
			padding: 0.5rem;
			position: absolute;

			.autofit-col-end {
				display: inline;
			}
		}

		.thumbnail-container {
			background-image: linear-gradient(45deg, #E7E7ED 25%, transparent 25%), linear-gradient(-45deg, #E7E7ED 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #E7E7ED 75%), linear-gradient(-45deg, transparent 75%, #E7E7ED 75%);
			background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
			background-size: 20px 20px;
			height: 100%;
			position: absolute;
			width: 100%;

			img {
				max-width: 640px;
			}
		}
	}
}