@import 'atlas-variables';

.card-page li:last-child {
	@media (max-width: 1453px) {
		flex-basis: 66.6%;
	}

	@media (min-width: 1454px) {
		flex-basis: 25%;
	}
}

.card-page-item-asset {
	max-width: 50%;
}

.fragment-composition-sticker {
	background-color: $indigo;
	color: $white;
}

.fragment-entry-sticker {
	background-color: $teal;
	color: $white;

	.lexicon-icon {
		font-size: 22px;
	}
}
